@import "~bootstrap/scss/bootstrap.scss";

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter{
    background-color: black;
    display: flex;
    flex-direction: row;
    font-size: 4rem;
    align-items: center;
    .fa-clock,.digit{
        color: white;
    }
    .fa-clock{
        margin: 1rem 2rem
    }
    .digit{
        padding: 1rem 2rem;
        font-size: inherit;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-left: 1px solid lightgray;
    }
}